{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content-container">
    <div class="row justify-content-center">
        <div class="col text-center mt-3 contact-details">
            <h3>Let’s Connect & Create Something Delicious</h3>
            <hr class="w-50 mb-2">
            <p class="lead">
                Got questions? We’ve got answers (and treats)! 
                Whether you’re curious about our products, need help 
                with a custom order, or just want to share your love 
                for food, we’d love to hear from you.
            </p>
            <div>
                <p class="text-left pt-2">
                    <img src="{% static 'img/mail.png' %}" class="contact-icon" alt="Mail Icon">
                    <strong>Email Us</strong>: Reach out at <a href="mailto:doughndrizzle@gmail.com">doughndrizzle@gmail.com</a><br>
                    <img src="{% static 'img/phone-call.png' %}" class="contact-icon" alt="Call Us Icon">
                    <strong>Call Us</strong>: Prefer to chat? Dial +353 83 123456</a><br>
                    <img src="{% static 'img/socials.png' %}" class="contact-icon" alt="Social Media Icon">
                    <strong>Social Media</strong>: Connect with us for all the latest treats and behind-the-scenes magic!<br>
                </p>
                <p class="text-center pt-2">
                    Let’s make your next occasion unforgettable. <br>
                    Contact us today!
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Display success messages -->
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Contact Form -->
            <form method="POST" action="{% url 'contact_us' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}