{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="hero image-as-background">
  <div class="hero-container">
    <p class="animate fadeInLeft delay-400">Mazgine cover hero style</p>
    <h1 class="hero-title animate fadeInLeft delay-600">This is a large hero section</h1>
    <a href="#" class="hero-button animate fadeInLeft delay-800" title="Click to see more">Click Me</a>
  </div>
</section>
{% endblock %}