{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid px-3 content-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="">PRIVACY POLICY</h2>
                <hr class="w-50 mb-3">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-8 admin-container">
                <p>Effective Date: 01 September 2024</p>
                <p>Last Updated: 15 October 2024</p>
                <p>Welcome to Dough n Drizzle! Your privacy is important to us. 
                    This Privacy Policy outlines how we collect, use, disclose, 
                    and safeguard your information when you visit our website, 
                    and when you engage with us in other ways. By using our Site, 
                    you consent to the practices described in this Privacy Policy.</p>
        
                <h4>Information We Collect</h4>
                <p>We may collect personal information from you in various ways, including but not limited to:<p>

                    <ul>
                        <li><strong>Personal Identification Information: </strong> Name, email address, phone number, 
                            billing address, shipping address, payment information, and any other information you 
                            voluntarily provide when placing an order or contacting us.
                        </li>
                        <li><strong>Non-Personal Identification Information: </strong> Browser type, Internet Service 
                            Provider (ISP), referring/exit pages, date/time stamps, and clickstream data.
                        </li>
                        <li><strong>Cookies and Tracking Technologies: </strong> We may use cookies, web beacons, 
                            and similar tracking technologies to enhance your experience on our Site and to analyze 
                            how our Site is used. You can set your browser to refuse cookies or to alert you when 
                            cookies are being sent.
                        </li>
                    </ul>
                <h4>How We Use Your Information</h4>
                <p>We may use the information we collect for various purposes, including but not limited to:</p>

                    <ul>
                        <li><strong>Order Processing: </strong> To process and manage your orders, payments, and deliveries.</li>
                        <li><strong>Customer Service: </strong> To respond to your inquiries, manage your account, and provide support.</li>
                        <li><strong>Marketing Communications: </strong> To send you newsletters, promotions, and other information 
                            that may interest you. You can opt out of these communications at any time.</li>
                        <li><strong>Site Improvement: </strong> To analyze user behavior and improve our Site, products, and services.</li>
                        <li><strong>Compliance: </strong> To comply with applicable laws, regulations, or legal requests.</li>
                    </ul>
                <h4>How We Protect Your Information</h4>
                <p>We take the security of your personal information seriously. We implement appropriate technical and organizational 
                    measures to protect your data from unauthorized access, use, disclosure, or destruction. However, please remember that 
                    no method of transmission over the internet or method of electronic storage is 100% secure.</p>
                <h4>Sharing Your Information</h4>
                <p>We do not sell, trade, or rent your personal information to third parties. We may share your information with 
                    trusted third-party service providers to help us operate our Site and conduct our business, including:</p>
                    <ul>
                        <li>Payment processors</li>
                        <li>Shipping companies</li>
                        <li>Email marketing services</li>
                        <li>Website analytics providers</li>
                    </ul>
                <h4>Third Party Websites</h4>
                <p>Our Site may contain links to third-party websites that are not operated by us. We have no control over and assume no 
                    responsibility for the content, privacy policies, or practices of any third-party sites. We encourage you to review 
                    the privacy policies of any third-party sites you visit.</p>
                <h4>Your Rights</h4>
                <p>YDepending on your location, you may have the following rights regarding your personal information:</p>
                    <ul>
                        <li><strong>Access: </strong>You can request a copy of the personal information we hold about you.</li>
                        <li><strong>Correction: </strong>You have the right to request correction of any inaccurate or incomplete information.</li>
                        <li><strong>Deletion: </strong>You can request that we delete your personal information, subject to certain exceptions.</li>
                        <li><strong>Opt-Out: </strong>You may opt out of marketing communications at any time.</li>
                    </ul>
        
                <h4>Changes to Our Privacy Policy</h4>
                <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date. 
                    We encourage you to review this Privacy Policy periodically to stay informed about our practices.</p>
        
                <h4>Contact Us</h4>
                <p>If you have any questions about this Privacy Policy, please contact us at:</p>
                    <h3>Dough n' Drizzle</h3>
                    <p>Email: <a href="mailto:doughndrizzle@gmail.com">doughndrizzle@gmail.com</a></p>
                    <p>Phone: +353 83 1234567</p>
                    <p>Address: Cobh. Co Cork</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{% endblock %}