{% extends 'base.html' %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid px-3 mb-2 content-container">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                {% include 'snippets/admin_menu.html' %}
            </div>
            <div class="col-sm-8" id="admin-container">
                <div class="row">
                    <div class="col text-center mt-3">
                        <h2 class="logo-font mb-4">ADD DISCOUNT</h2>
                        <hr>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-cyan">Create Discount</button>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}
