<table class="table table-bordered discount-container">
    <tbody>
        <tr>
            <td>Phone Number:</td>
            <td>{{ profile.default_phone_number }}</td>
        </tr>
        <tr>
            <td>Street Address 1:</td>
            <td>{{ profile.default_street_address1 }}</td>
        </tr>
        <tr>
            <td>Street Address 2:</td>
            <td>{{ profile.default_street_address2 }}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{ profile.default_town_or_city }}</td>
        </tr>
        <tr>
            <td>County:</td>
            <td>{{ profile.default_county }}</td>
        </tr>
        <tr>
            <td>Post Code:</td>
            <td>{{ profile.default_postcode }}</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>{{ profile.default_country }}</td>
        </tr>
    </tbody>
</table>