
/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

body {
    min-height: 100vh; /* Ensure body takes at least full viewport height */
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    background: url(/static/img/bg.png) repeat;
    background-color: rgb(24, 181, 192);
    background-size: auto;
    font-family: "Playpen Sans", cursive;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  padding-top: 230px;
  flex-grow: 1;
}

/* Header style*/
.container-fluid {
  padding: 0;
}
.header-top {
  z-index: 1030;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove any padding if exists */
  background: url(/static/img/header-bg3.png) repeat;
  background-size: auto;
  height: 150px;
}

.top-header {
    background: url(/static/img/header-bg2.png) no-repeat;
    height: 200px;
    width: auto;
    background-position-x: center;
    background-size: cover;
    /* padding: 20px; */
}

.page-header {
  position: relative;
  z-index: 100;
}

#logo {
    display: none;
}

.logo {
    height: 120px;
    width: auto;
    min-height: 20%;
    min-width: 20%;
}

.logo:hover {
  color: none;
}

.d-flex.flex-column {
  min-height: 100vh;
}

/* Custome styling for Navbar */

.navbar-row {
  background: url(/static/img/header-bg3.png) repeat;
}

.navbar {
  height: 30px;
  /* width: 100%; */
  padding-top: 8px;
  padding-bottom: 2px;
  background-size: auto;
}

.navbar-nav .nav-link {
  
  color: black;
  margin: 0 20px;
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
  background-color: rgba(128, 174, 255, 0.8) !important; /* Slight hover effect with transparent black */
}


/* Custom styling for the dropdown */
  .dropdown-menu {
    background-color: transparent !important; /* Make background transparent */
    border: none; /* Remove border */
    position: absolute;
    z-index: 1050;
  }

  .dropdown-item {
    color: black !important; /* Set text color to black */
    background-color: rgb(255,255,255, 0.9)
  }

  .dropdown-item:hover {
    background-color: rgba(128, 174, 255, 0.8) !important; /* Slight hover effect with transparent black */
    color: black !important; /* Ensure text stays black on hover */
  }

  .btn-secondary {
    background-color: transparent !important; /* Make button background transparent */
    color: black !important; /* Set button text color to black */
    border: none; /* Remove border */
    
  }

  .btn-secondary:hover {
    background-color: rgba(128, 174, 255, 0.8) !important; /* Add slight hover effect to the button */
  }

  /* Common styling for the icons */
  .icon-container img {
    transition: transform 0.2s ease; /* Adds smooth transition effect */
  }
  
  .icon-container:hover img {
    transform: scale(1.1); /* Slightly scales the icon when hovered */
  }
  
  /* Search Icon Hover */
  .search-icon:hover img {
    content: url(/static/img/search.png);
  }
  
  /* Favorite Icon Hover */
  .favorite-icon:hover img {
    content: url(/static/img/favorite1.png);
  }
  
  /* Cart Icon Hover */
  .cart-icon:hover img {
    content: url(/static/img/cart.png);
  }

  /* Modal Search */
  .modal-icon {
    display: inline-block;
    width: 24px;  /* Set width */
    height: 24px; /* Set height */
    background-image: url(/static/img/loupe.png);  /* Default icon */
    background-size: cover;
    transition: background-image 0.3s ease; /* Smooth transition */
  }

  .modal-icon:hover {
    background-image: url(/static/img/loupe1.png);  /* Hover icon */
  }
  .icons {
    height: 2rem;
    width: 2rem;
  }

  .modal-icon {
    height:1.75rem;
    width: 1.75rem;
  }

/* Hero Style */
.hero {
  background: url(/static/img/hero.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;

}
  @media screen and (min-width:640px) {
    background-position: 50% 0;
  }
  


/* Footer */
.footer {
    margin-top: auto; /* Push the footer to the bottom */
    background: url(/static/img/header-bg2.png) no-repeat;
    min-height: 180px;
    width:auto;
    background-position-x: center;
    background-size: cover;
    padding-bottom: 0;
    text-align: center; /* Optional: center align footer content */
}
.footer-logo {
    height: 90px;
    width: auto;
    
}

/* Social Links Styling */
.socials {
  height: 30px;
  width: auto;
}

.social-links {
  list-style-type: none; /* Remove bullet points */
  justify-content: center; /* Center the list items */
  display: flex; /* Use flexbox for horizontal alignment */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.social-links li {
  display: inline-block; /* Make list items inline */
  margin: 0 10px; /* Add space between the list items */
}


/* Footer Links Styling */
.footer-links {
  list-style-type: none; /* Default bullet points */
  padding-left: 0px; /* Add some space before the bullets */
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px; /* Add space between each list item */
}

.footer-links a {
  text-decoration: none;
  color: #000; /* Set text color */
}

.footer-links a:hover {
  text-decoration: underline; /* Add hover effect */
}

/* Media Queries */
@media (min-width: 992px) {
    
}