{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content-container">
    <div class="row">
        <div class="col text-center mt-3 error-container">
            <h2 class="">500: INTERNAL SERVER ERROR</h2>
            <hr class="w-50 mb-3">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center mt-3 error-details">
            <p><strong>Ooops! Something went wrong!</strong></p>
            <p>Try to refresh the page or feel free to contact us if problem persist.</p>
            <a class="btn btn-secondary btn-outline-cyan rounded-0 mt-5" href="{% url 'home' %}">Home</a>
        </div>
    </div>
</div>
{% endblock %}