{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font">{% trans "SET PASSWORD" %}</h2>
    <hr class="mb-3">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-cyan rounded-0" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
