{% load static %}
{% load custom_tags %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Primary Meta Tags -->
  <meta name="title" content="Dough n' Drizzle | Custom Cakes, Pastries, and Desserts">
  <meta name="description" content="Dough n' Drizzle offers handcrafted custom cakes, pastries, cookies, and desserts for every occasion. Order online for delivery or pick-up! We specialize in custom cake designs, wedding cakes, and special occasion treats.">
  
  <!-- SEO Keywords -->
  <meta name="keywords" content="custom cakes, cake delivery, bakery, pastries, cookies, artisan desserts, wedding cakes, birthday cakes, online bakery, pick-up cakes, Dough n' Drizzle bakery, custom desserts, gourmet cakes">

  <!-- Open Graph for Social Sharing -->
  <meta property="og:title" content="Dough n' Drizzle | Custom Cakes & Artisan Desserts">
  <meta property="og:description" content="Order delicious custom cakes and desserts from Dough n' Drizzle. Perfect for birthdays, weddings, and special events. Available for delivery and pick-up.">
  <meta property="og:image" content="{% static 'img/facebook.png' %}">
  <meta property="og:url" content="https://pp5-dough-n-drizzle-257d1212e951.herokuapp.com/">
  <meta property="og:type" content="website">
  {% endblock %}

  {% block extra_meta %}{% endblock %}

  {% block corecss %}
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
  {% endblock %}

  {% block extra_css %}{% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <!-- Stripe-->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}{% endblock %}

  <title>Dough n' Drizzle {% block extra_title %} {% endblock %}</title>

</head>

<body>
    <header class="container-fluid fixed-top">
      {% include "snippets/header.html" %}
      <div class="navbar-row">
        {% include 'snippets/main-nav.html' %}
        {% include 'snippets/mobile-nav.html' %}
      </div>
    </header>
    
    <main>
      {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'snippets/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'snippets/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'snippets/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'snippets/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

      {% block page_header %}{% endblock %}

      {% block content %}{% endblock %}
    </main>

     <!-- Include footer on all pages except home, add_products, and discount_list -->
    {% if request.path != '/' and request.path != '/products/add/' and request.path != '/discounts/' %}
    <footer>
        {% include "snippets/footer.html" %}
    </footer>
    {% endif %}


    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- Add a heading for accessibility and link it with aria-labelledby -->
          <div class="modal-header">
            <h6 class="modal-title" id="searchModalTitle">Search Products</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="GET" action="{% url 'products' %}">
              <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q"
                  placeholder="Search our site" value="{{ search_term|default:'' }}">
                <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon icon-container">
                      <span class="modal-icon"></span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Are you sure you want to delete this product?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a id="confirmDeleteButton" class="btn btn-danger">Delete</a>
              </div>
          </div>
      </div>
    </div>

    {% block postloadjs %}
      <script type="text/javascript">
            $('.toast').toast('show');

            function setDeleteUrl(link) {
                var url = link.getAttribute('data-url');
                document.getElementById('confirmDeleteButton').setAttribute('href', url);
            }
      </script> 

    {% endblock %}
   
</body>

</html>
