{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

       <div class="row">
            {% for category, products in products_by_category.items %}
                <!-- Each category section takes full width of container-fluid -->
                <div class="category-section col-12 mt-5">
                    <h3 class="text-center">{{ category.friendly_name }}</h3>
                    <hr>
                    <div class="product-container row mt-3 justify-content-center">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card-image">
                                <div class="card h-100 border-0">
                                    {% if product.image %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.name }}</p>
                                    </div>
                                    <div class="card-footer pt-0 border-0 text-center align-items-center">
                                        <div class="row">
                                            <div class="col">
                                                 <!-- Check if it's the 'Large Cake' product or similar -->
                                                 {% if product.name == 'Large Cake' %}
                                                    <p class="lead mb-0 text-center font-weight-bold">Price starts at €{{ product.price }}</p>
                                                 {% else %}
                                                    <p class="lead mb-0 text-center font-weight-bold">€{{ product.price }}</p>
                                                 {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <p>No products available in this category.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}